#jinja2: trim_blocks: True, lstrip_blocks: True
{#######################################

#Purpose:
Clos Fabric usecase configuration for SONiC devices

#######################################}
{# prefix list start #}
{% if sonic_prefix_list_cli is defined and sonic_prefix_list_cli %}
    {% for sonic_prefix in sonic_prefix_list_cli %}
        {% for prefix_entires in sonic_prefix.entries %}
ip prefix-list {{ sonic_prefix.name }} {{ 'permit' if sonic_prefix.permit else 'deny' }} {{ prefix_entires.ip }} {{ prefix_entires.condition if prefix_entires.condition is defined else ''}}
        {% endfor %}
    {% endfor %}
{% endif %}
{# prefix list end #}

{# Route map configuration start #}
{% if sonic_route_maps_cli is defined and sonic_route_maps_cli %}
        {% for sonic_route_map in sonic_route_maps_cli %}
route-map {{ sonic_route_map.name }} {{ 'permit' if sonic_route_map.permit else 'deny' }} {{ sonic_route_map.seq }}
 match ip address prefix-list {{ sonic_route_map.match_ip_prefix_list }}
        {% endfor %}
{% endif %}
{# Route map configuration start #}

{# VRF configuration start #}
{% if sonic_vrfs_cli is defined and sonic_vrfs_cli %}
        {% for sonic_vrf in sonic_vrfs_cli %}
ip vrf {{ sonic_vrf.name }}
        {% endfor %}
{% endif %}
{# VRF configuration end #}

{% if sonic_mclag_cli is defined and sonic_mclag_cli %}
mclag domain {{ sonic_mclag_cli.domain }}
 peer-link {{ sonic_mclag_cli.peer_link }}
 source-ip {{ sonic_mclag_cli.source_ip }}
 peer-ip {{ sonic_mclag_cli.peer_ip }}
 session-timeout 15
{% endif %}


